<div class="mt-4">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="search-name" class="form-label mt-4">Tên</label>
      <input
        type="text"
        class="form-control"
        id="search-name"
        placeholder="Tên"
        name="name"
      />
      <label for="age-input" class="form-label mt-4">Tuổi</label>
      <!-- press Ctrl H/D to choose many similar texts-->
      <input
        type="text"
        class="form-control"
        id="age-input"
        placeholder="Nhập tuổi"
        name="age"
      />
      <label for="gender-input" class="form-label mt-4">Giới tính</label>
      <select name="gender" class="form-control" id="gender-input">
        <option value="">Chọn giới tính</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div></div>